---
layout: default
---

<div class="home">
  <h1 class="page-heading">Recent posts</h1>
  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          {% if post.link %}
            <a class="post-link" target="_blank" href="{{ post.link }}">{{ post.title }}</a>
          {% else %}
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {% endif %}
        </h2>
      </li>
    {% endfor %}
  </ul>
  <p class="rss-subscribe">see <a href="{{ "/posts" | prepend: site.baseurl }}">all posts</a></p>
  <br/>
  <h1 class="page-heading">Talks</h1>
  <ul class="post-list">
    {% for talk in site.data.talks %}
      <li>
        <span class="post-meta">{{ talk.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" target="_blank" href="{{ talk.url | prepend: site.baseurl }}">{{ talk.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>
