---
layout: default
title: Posts
---
<h1 class="page-heading">Posts</h1>
<!-- This loops through the paginated posts -->
<ul class="post-list">
  {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <h2>
        {% if post.link %}
          <a class="post-link" target="_blank" href="{{ post.link }}">{{ post.title }}</a>
        {% else %}
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% endif %}
      </h2>
    </li>
  {% endfor %}
</ul>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
