!!! XML
!!!
%html{html_attrs('en-en')}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %meta{:author => 'Greg Osuri'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/screen.css', :type => 'text/css', :media => 'screen, projection'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/print.css',  :type => 'text/css', :media => 'print' }
    %title {{ page.title }}
    %script{:type =>"text/javascript", :src=>"http://use.typekit.com/xrn7yhf.js" }
    :javascript
      try{Typekit.load();}catch(e){}
    %script{:type => "text/javascript", :src => "https://www.google.com/jsapi?key=ABQIAAAA9tY08LlsIeMqIln2VLJBiBT1QcW1pqS1h8CoEOeyHLsvcKFZ0xTPorLc8Vsc3-c0ng2mcpyjiN0zGQ" }
  %body
    #container
      #content
        #header
          %p
            %a{:href => '/'} about 
            &#149;
            %a{:href => 'http://twitter.com/gregosuri', :target => '_blank' } on twitter
            &#149;
            %a{:href => 'http://github.com/gosuri',     :target => '_blank' } on github
            &#149;
            %a{:href => 'http://www.flickr.com/photos/24919077@N02', :target => '_blank' }on flickr
          %h1#title Greg Osuri
        #body.about
          %p
            I write 
            %a{:href => 'http://github.com/gosuri', :target => '_blank' } code
            and take 
            %a{:href => 'http://www.flickr.com/photos/24919077@N02', :target => '_blank' } pictures.
            These are my writings and links I share.
        .index
          .posts
            {% for post in site.posts %}
            .entry
              %p.date
                {{ post.date | date_to_string }}
              %h3
                %a{:href => '{{ post.url }}'} {{ post.title }}
            {% endfor %}
      #footer
        %p.copy
          Copyright &copy; 2011 by 
          %a{:href => '/about', :rel => "me author"} Greg Osuri
        %p.github
          Created using 
          %a{:href => 'https://github.com/mojombo/jekyll'} Jekyll 
          and hosted on 
          %a{:href => 'http://pages.github.com/'} GitHub Pages
        %p.github
          %a{:href => 'https://github.com/gosuri/gosuri.github.com'} Source 
          for this site is under 
          %a{:href => 'https://raw.github.com/gosuri/gosuri.github.com/master/LICENSE'} MIT license
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try{ 
      var pageTracker = _gat._getTracker("UA-5317873-6");
      pageTracker._trackPageview();
      } catch(err) {} 

        
