!!! XML
!!!
%html{html_attrs('en-en')}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %meta{:author => 'Greg Osuri'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/screen.css', :type => 'text/css', :media => 'screen, projection'}
    %title {{ page.title }}
    %script{:type =>"text/javascript", :src=>"http://use.typekit.com/xrn7yhf.js" }
    :javascript
      try{Typekit.load();}catch(e){}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" }
    :javascript
      $(document).ready(function() {
        $("a.newwindow").attr("target","_blank");
      });
  %body
    #container
      #content
        .post
          #heading
            %h1.title {{ page.title }}
            %p.published {{ page.date | date_to_string}}
            %p.author
              %a{:href => "/"} Greg Osuri
          .body
            {{ content }}
      #footer
        %p.copy
          Copyright &copy; 2011 by 
          %a{:href => '/about', :rel => "me author"} Greg Osuri
        %p.github
          Created using 
          %a{:href => 'https://github.com/mojombo/jekyll'} Jekyll 
          and hosted on 
          %a{:href => 'http://pages.github.com/'} GitHub Pages
        %p.github
          %a{:href => 'https://github.com/gosuri/gosuri.github.com'} Source 
          for this site is under 
          %a{:href => 'https://raw.github.com/gosuri/gosuri.github.com/master/LICENSE'} MIT license
      :javascript
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try{ 
        var pageTracker = _gat._getTracker("UA-5317873-6");
        pageTracker._trackPageview();
        } catch(err) {}
