!!! XML
!!!
%html{html_attrs('en-en')}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %meta{:author => 'Greg Osuri'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/screen.css', :type => 'text/css', :media => 'screen, projection'}
    %title {{ page.title }}
    %script{:type =>"text/javascript", :src=>"http://use.typekit.com/xrn7yhf.js" }
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    #container
      #content
        .post
          #heading
            %p.published {{ page.date | date_to_string}}
            %h1.title {{ page.title }}
            %p.author
              %a{:href => "/"} Greg Osuri
          .body
            {{ content }}
          .comments
            #disqus_thread
            :javascript
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'gregosuri'; // required: replace example with your forum shortname

                // The following are highly recommended additional parameters. Remove the slashes in front to use.
                // var disqus_identifier = 'unique_dynamic_id_1234';
                // var disqus_url = 'http://example.com/permalink-to-page.html';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      #footer
        %p.copy
          Copyright &copy; 2011 by 
          %a{:href => '/about', :rel => "me author"} Greg Osuri
        %p.github
          Created using 
          %a{:href => 'https://github.com/mojombo/jekyll'} Jekyll 
          and hosted on 
          %a{:href => 'http://pages.github.com/'} GitHub Pages
