!!! XML
!!!
%html{html_attrs('en-en')}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %meta{:author => 'Greg Osuri'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/screen.css', :type => 'text/css', :media => 'screen, projection'}
    %title {{ page.title }}
    %script{:type =>"text/javascript", :src=>"http://use.typekit.com/xrn7yhf.js" }
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    #container
      #content
        .post
          #heading
            %p.published {{ page.date | date_to_string}}
            %h1.title {{ page.title }}
            %p.author
              %a{:href => "/"} Greg Osuri
          .body
            {{ content }}        
      #footer
        %p.copy
          Copyright &copy; 2011 by 
          %a{:href => '/about', :rel => "me author"} Greg Osuri
        %p.github
          Created using 
          %a{:href => 'https://github.com/mojombo/jekyll'} Jekyll 
          and hosted on 
          %a{:href => 'http://pages.github.com/'} GitHub Pages
